.my-properties-view-wrapper{
    width:380px;
    border-radius:15px;
    /* background: linear-gradient(90deg, #3B203A, #190611); */
    background: #292529;
    /* background: red; */
    padding:15px;
    height: 650px;
    margin:100px auto;
    position: relative;
}