.view-order-wrapper{
    width: 380px;
    /* background: linear-gradient(0deg, #2D1B2A, #190611); */
    background: #292529;
    /* background: red; */
    padding: 15px;
    margin: 100px auto;
    /* height: 1180px; */
    position: relative;
}