@media screen and (max-width: 1440px) {
  #comp_reference_help_txt {
    padding: 0 25px 5px 25px !important;
  }
  #comp_reference_help_txt_title {
    margin-top: 10px !important;
  }
  #comp_tenant_form_wrapper {
    width: 29% !important;
  }
  #my_properties {
    width: 48% !important;
  }
  #news_view_wrapper {
    width: 80% !important;
  }
  #payment_title_txt {
    font-size: 28px !important;
  }
  #profile_verify_change {
    width: 47% !important;
  }
  #ref_start {
    width: 47% !important;
  }
  #welcome {
    padding-bottom: 10px !important;
  }
  #welcome_content_left {
    padding: 12px 7px 5px 5px !important;
  }
  #welcome_content_right {
    font-size: 12px !important;
    padding: 15px !important;
  }

  .col_button_img {
    width: 32px !important;
  }
  .col_button_img img {
    height: 16px !important;
  }
  .col_button_name {
    font-size: 12px !important;
    height: 30px !important;
  }
  .comp_form {
    width: 52%;
  }
  .comp_input_stripe {
    font-size: 11.5px !important;
    padding: 10px !important;
  }
  .dashboard_menu_box_icon {
    border-radius: 15px;
    height: 52px;
    padding: 8px;
    width: 52px;
  }
  .dashboard_page_content_header_icon {
    width: 35px !important;
  }
  .dashboard_page_menu {
    width: 39% !important;
  }
  .password_hint {
    border-radius: 9px !important;
    font-size: 11px !important;
    padding: 6px 3.5px !important;
  }
}